body{
    ul, li{
        display: block;
        padding: 0;
    }

    li{
        list-style-type: none;
    }

    .todo{

    }

    .todo-close{
        text-decoration: line-through;
    }

}

